<!DOCTYPE html>
<html>
  <head>
    <title>FE Repo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.gif">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= controller_name %>-<%= action_name %>">
    <%= yield %>
  </body>
</html>
